# Extracting author names

Predicting author genders from OSP "text" table using the gender.py library, which is a python extension of genderize.io (https://genderize.io/)

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from osp_graphs.v1_db import session, Text, Field, Subfield, SubfieldDocument, Citation, Document, Institution, InstitutionDocument

In [3]:
from sqlalchemy.sql import functions as func
from collections import Counter
import pandas as pd
import requests
from gender import getGenders

In [4]:
authors = (session
          .query(Text.authors)
          .filter(Text.valid==True)
          .filter(Text.display==True)
          .limit(30))

In [5]:
authors.all()

[(['Glueck, Sheldon, 1896-1980.']),
 (['Glover, Denis, 1912-1980.']),
 (['Berlese, Antonio, 1863-1927.']),
 (['Mill, John Stuart, 1806-1873.']),
 (['Golding, Louis, 1895-1958.']),
 (['Legouvé, Ernest, 1807-1903.']),
 (['Prus, Bolesław, 1847-1912.']),
 (['Goldman, Emma, 1869-1940.']),
 (['Goldman, Emma, 1869-1940.']),
 (['Cooke, Wells Woodbridge, 1858-1916.']),
 (['Holbein, Hans, 1497-1543.']),
 (['Gnoli, Domenico, 1838-1915, editor.']),
 (['Goldman, Emma, 1869-1940.']),
 (['Lawson, Henry, 1867-1922.']),
 (['Goldhahn, Richard, 1899-1948.']),
 (['Conti, Antonio, 1677-1749.']),
 (['Glover, Richard, 1712-1785.']),
 (['Constable, John, 1676?-1744.']),
 (['Macdonald, C. Ochiltree.']),
 (['Snyder, Louis L.  (Louis Leo),  1907-1993. ed.']),
 (['Gimpel, Jean.']),
 (['Cole, Leon Jacob, 1877-1948.']),
 (['Gioja, Melchiorre, 1767-1829.']),
 (['Goldschmidt, Robert.']),
 (['Clark, Hubert Lyman, 1870-1947.']),
 (['Lipset, Seymour Martin.']),
 (['Gneist, Rudolph, 1816-1895.']),
 (['Cramer, Pieter, -1780.']),
 (['Comstock, J. L. (John Lee), 1789-1858.']),
 (['Shankar, Ramamurti.'])]

In [6]:
x = str(authors.first())
x

"(['Glueck, Sheldon, 1896-1980.'],)"

In [7]:
split_x = x.replace(" ", "").split(",")
split_x

["(['Glueck", 'Sheldon', "1896-1980.']", ')']

Isolate first name

In [8]:
split_x[1]

'Sheldon'

Create dataFrame to store author/gender data into, this can later be converted to csv file if necessary

In [9]:
header = ['first', 'last', 'gender']
df = pd.DataFrame(columns = header)

In [10]:
x = 0
for a in authors.all():
    #if(x > 20):
        #break
    
    #format entry (WORKING)
    entry = str(a)
    split_entry = (entry.replace(" ", "")
                   .replace("(", "")
                   .replace("[", "")
                   .replace("'", "")
                   .replace(".]", "")
                   .split(","))
                
    first = split_entry[1]
    #print(split_entry)
    
    #format last name (WORKING)
    ln = split_entry[0]
    last = ln.replace("(", "").replace("[", "").replace("'", "")
    
    
    #get gender 
    gender = getGenders(first)[0][0]
    #print(gender)
    #print(gender[0][0]) -- gender[0][0] isolates just the gender prediction
    
    #input data into the dataframe 
    df1 = pd.DataFrame({'first': first, 'last': last, 'gender': gender}, index = [x])
    frames = [df, df1]
    df = pd.concat(frames)
    
    x += 1

In [11]:
df

               first         last  gender
0            Sheldon       Glueck    male
1              Denis       Glover    male
2            Antonio      Berlese    male
3         JohnStuart         Mill    None
4              Louis      Golding    male
5             Ernest      Legouvé    male
6           Bolesław         Prus    None
7               Emma      Goldman  female
8               Emma      Goldman  female
9    WellsWoodbridge        Cooke    None
10              Hans      Holbein    male
11          Domenico        Gnoli    male
12              Emma      Goldman  female
13             Henry       Lawson    male
14           Richard     Goldhahn    male
15           Antonio        Conti    male
16           Richard       Glover    male
17              John    Constable    male
18       C.Ochiltree    Macdonald    None
19  LouisL.LouisLeo)       Snyder    None
20              Jean       Gimpel  female
21         LeonJacob         Cole    None
22        Melchiorre        Gioja    None
23            Robert  Goldschmidt    male
24       HubertLyman        Clark    None
25     SeymourMartin       Lipset    None
26           Rudolph       Gneist    male
27            Pieter       Cramer    male
28      J.L.JohnLee)     Comstock    None
29         Ramamurti      Shankar    None